*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.button{
    width: 100px;
    height: 100px;
    background-color: rgb(93, 206, 206);
    text-align: center;
    margin: 20% 50%;
    padding: 35px 10px;
    border-radius: 20px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: hidden;
    border-right: 5px solid gray;
    border-left: hidden;
    border-bottom: 5px solid gray;
    border-color: gray;
}
.button:hover{
    height: 100px;
    width: 100px;
    border-top: hidden;
    border-right: 5px solid gray;
    border-left: hidden;
    border-bottom: 5px solid gray;
    border-color: gray;
}
.button:hover{
    padding: 35px 10px;
    background-color: cyan;
    border-radius: 30px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}